$primary-purple: #5E2E53;
$primary-white: #EAEAEA;

$accent-pink: #E1A1E9CC;
$accent-black: #000;
$accent-grey: #C4C4C44D;
$accent-purple: #5E2E5380;

$transparent-black: #00000040;

$typeography-primary: $primary-white;
$typeography-secondary: $accent-black;
$typeography-tertiary: #999;
$typeography-pink: #E856EB;
$typeography-red: #f33d3d;