@use '../placeholders/root.scss';

.footer {
    background-color: root.$primary-white;
    padding: .5rem 1.5rem;
    box-shadow: 0 -3px 4px root.$transparent-black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            color: root.$accent-black;
            font-size: 1.5rem;
            padding: .5rem;
            display: flex;
            align-items: center;

            &.active {
                border: solid 1px root.$accent-black;
                border-radius: 2rem;
            }
        }
    }
}