@use '../placeholders/root.scss';

.header {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(root.$accent-purple, 95%, transparent);

    &__heading {
        font-weight: 300;
        font-size: 2rem;
        text-transform: capitalize;
    }

    &__search {
        width: 100%;
        background-color: root.$accent-grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

        label {
            width: 80%;
        }

        &-input {
            background: none;
            border: none;
            border-radius: 0;
            height: 1.5rem;
            width: 100%;
            padding-left: .2rem;
        }

        &-icon {
            background: none;
            border: none;
            height: 1.5rem;
            font-size: 1.5rem;
        }
    }
}