@use '../placeholders/root.scss';

.header {
    padding: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(root.$accent-purple, 95%, transparent);

    &__heading {
        font-weight: 300;
        font-size: 2rem;
        text-transform: capitalize;
    }
}