@use '../placeholders/root.scss';

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: root.$accent-grey;
    padding: .5rem;

    label {
        width: 80%;
    }

    &__input {
        background: none;
        border: none;
        border-radius: 0;
        height: 1.5rem;
        width: 100%;
        padding-left: .2rem;
        font-size: 1rem;

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::placeholder {
            font-size: 1rem;
            color: inherit;
        }
    }

    &__icon {
        background: none;
        border: none;
        height: 1.5rem;
        font-size: 1.5rem;
    }

    &__error {
        text-align: center;
        margin-block: .5rem 2rem;
        color: root.$typeography-red;
    }
}