@use '../placeholders/root.scss';
@use '../placeholders/mixins.scss';

.login {
    align-self: center;
    margin-inline: auto;
    z-index: 1;
    width: 100%;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
    }

    label {
        width: fit-content;
    }

    div {
        &:has(.login__input--checkbox) {
            align-self: center;
        }
    }

    &__input {
        width: 100%;
        padding: 1rem .8rem;
        border: none;
        background-color: root.$primary-white;
        margin-bottom: .3rem;
        font-size: 1.12rem;
        color: root.$typeography-tertiary;

        &--checkbox {
            width: fit-content;
            margin-right: .3rem;
        }

        &::placeholder {
            font-size: 1.12rem;
            color: root.$typeography-tertiary;
        }
    }

    &__error {
        text-align: center;
        color: root.$typeography-red;
        text-shadow: -1px -1px 0 root.$accent-black, 1px -1px 0 root.$accent-black, -1px 1px 0 root.$accent-black, 1px 1px 0 root.$accent-black;
    }

    &__button {
        align-self: center;
        margin-top: 1rem;
        @include mixins.purpleBtn;
    }

    &__text {
        text-align: center;
        margin-top: 1rem;
    }

    &__link {
        text-align: center;
        text-decoration: underline;
        font-size: .9rem;
    }
}