@use '../placeholders/root.scss';

.logo {
    padding-left: 2rem;
    border-bottom: 14px solid root.$primary-purple;

    &__heading {
        font-family: 'Roboto', sans-serif;
        font-size: 2.25rem;
        color: transparent;
        -webkit-text-stroke: 2px root.$primary-purple;
        text-transform: uppercase;

        &--bottom {
            display: block;
            font-size: 4rem;
            color: root.$typeography-pink;
            text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
            -webkit-text-stroke: 0;
            font-style: italic;
        }
    }
}